{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false
    },
    "extends": ["airbnb-base", "plugin:prettier/recommended"],
    "env": {
        "browser": true
    },
    "rules": {
        "import/no-unresolved": ["error", { "ignore": ["^https"] }],
        "import/extensions": ["off"]
    }
}
